# Cleaning 60min dataset (Netflix, Prime, YouTube and Twitch)

In [1]:
import pandas as pd

df = pd.read_csv('test1_60min.csv')
df.drop(["Unnamed: 0", "src_oui", "dst_oui", "id", "expiration_id","client_fingerprint", "server_fingerprint", "src_mac", "dst_mac", "vlan_id", "tunnel_id", "expiration_id","client_fingerprint", "server_fingerprint", "user_agent", "bidirectional_first_seen_ms", "bidirectional_last_seen_ms", "bidirectional_duration_ms", "dst2src_packets", "dst2src_packets", "dst2src_first_seen_ms", "dst2src_last_seen_ms", "dst2src_duration_ms", "src2dst_first_seen_ms", "src2dst_last_seen_ms", "src2dst_duration_ms", "src2dst_packets", "src2dst_bytes", "dst2src_bytes", "bidirectional_packets"], axis=1, inplace=True)
df.sort_values(["src_ip"], inplace=True)
df.reset_index(drop=True, inplace=True)

In [2]:
# Take into account only the analyzed device ip as source ip (it will be necessary to apply the same filter also in the code to exclude flows that have different source ip)
filt_df = df[(df['src_ip']=="10.42.0.130")]

In [3]:
filt_df['application_name'].unique()

array(['DNS', 'DNS.Amazon', 'TLS.AmazonVideo', 'TLS.Amazon',
       'DNS.AmazonVideo', 'TLS.GoogleServices', 'TLS', 'HTTP',
       'HTTP.Amazon', 'TLS.Google', 'DNS.Google', 'DNS.YouTube',
       'QUIC.Google', 'TLS.YouTube', 'HTTP.Google', 'DNS.NetFlix',
       'DNS.GoogleServices', 'HTTP.Cloudflare', 'DNS.Twitch',
       'TLS.Twitch', 'QUIC.GoogleServices', 'QUIC.YouTube', 'MDNS',
       'ICMP.Google', 'DNS.Microsoft', 'TLS.NetFlix', 'DHCP'],
      dtype=object)

In [4]:
print("Before: {} After: {}".format(len(df), len(filt_df)))
filt_df.head()

Before: 834 After: 814

,src_ip,src_port,dst_ip,dst_port,protocol,ip_version,bidirectional_bytes,application_name,application_category_name,application_is_guessed,requested_server_name,content_type
4,10.42.0.130,56195,10.42.0.1,53,17,4,313,DNS,ConnectivityCheck,0,detectportal.firefox.com,NaN
5,10.42.0.130,40003,10.42.0.1,53,17,4,222,DNS,Network,0,endpoint.prod.eu-west-1.forester.a2z.com,NaN
6,10.42.0.130,46309,10.42.0.1,53,17,4,245,DNS.Amazon,Web,0,unagi.amazon.com,NaN
7,10.42.0.130,58422,10.42.0.1,53,17,4,197,DNS.Amazon,Web,0,unagi.amazon.com,NaN
8,10.42.0.130,44992,10.42.0.1,53,17,4,222,DNS,Network,0,endpoint.prod.eu-west-1.forester.a2z.com,NaN

## Saving the list of application name in a JSON file

In [6]:
import json

apps = filt_df.application_name.unique()

with open('export_apps.json', 'w') as fd:
    json.dump(list(apps), fd)

In [7]:
# Debug

with open('export_apps.json', 'r') as fd:
    x = json.load(fd)
    
print(x[0])

DNS